.nav {
  background-image: url(../../public/studentimg.jpg);
  height: 4pc;
  background-repeat: no-repeat; 
  background-size: 100% 20pc;
  background-position: 0 -5pc;
}
.nav::before {
  content: "";
  background-color: rgba(2, 2, 2, 0.801);
  height: inherit;
  opacity: 0.8;
  display: flex;
}
.nav div {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5pc;
  color: white;
  text-shadow: 0px 1.5px 8px black;
}
.nav h3 {
  color: whitesmoke;
  text-transform: uppercase;
  margin: 0;
}
.nav p {
  margin: 0;
  text-transform: uppercase;
  font-size: 13px;
}

/*Navigate*/
.navigate {
  display: flex;
  align-items: center;
  padding-left: 1pc;
  background-color: white;
  box-shadow: 0px 0px 5px black;
}
.navigate ul {
  margin-right: auto;
}
.naviagtionbtn {
  margin: 0 1pc 0 auto;
}
.signinBtn,
.signOut {
  padding: 8px;
  font-size: 1pc;
  background-color: rgb(29, 131, 247);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.button {
  font-size: 1pc;
  font-weight: 600;
  padding: 1pc;
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.buttonclicked {
  border-bottom: 5px solid rgba(40, 43, 42, 0.527);
}

/**children*/
.children {
  display: flex;
  justify-content: space-evenly;
  min-width: 100vw;
  height: 68vh;
}
.childrenflex{
  text-align: center;
  min-width: 100vw;
  height: 68vh;
}
