.form {
  position: relative;
  text-align: center;
  padding: 2pc;
  background-position: 2pc 0pc;
  min-height: fit-content;
  width: fit-content;
  border: 1px solid rgb(189, 175, 175);
  border-radius: 1pc;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2pc auto;
}
/* .form_container {
  padding: 20px;
  text-align: center;
} */
.inputForm {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  flex-wrap: wrap;
}
.form input {
  padding: 8px;
  margin: 10px 0px 0px\auto;
  min-width: 20pc;
  border-radius: 8px;
  border: 1px solid rgb(164, 164, 230);
}
.form label {
  font-weight: 500;
  padding: 16px;
}
.errorMsg {
  color: red;
  list-style: square;
}

.form button {
  display: block;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: rgb(29, 131, 247);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  color: white;
  width: 18pc;
  font-size: medium;
  font-weight: 600;
  cursor: pointer;
}
.button {
  display: block;
  margin-top: 1pc;
  margin-left: 10px;
  border: none;
  padding: 10px 15px;
  background-color: rgb(29, 131, 247);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
  text-shadow: 0 0 5px black;
  color: white;
  font-weight: 600;
  height: 3pc;
  cursor: pointer;
  border-radius: 3px;
}

/*update*/
.update button {
  margin-left: 5px;
  padding: 8px 8px;
  border-radius: 0.3pc;
  background-color: rgb(29, 131, 247);
  color: white;
  font-size: medium;
  cursor: pointer;
  border: none;
}
.update input {
  padding: 8px;
  width: fit-content;
}
.update input[type="number"]::-webkit-inner-spin-button,
.update input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.updateDwnBtn {
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 8px 8px;
  border-radius: 0.3pc;
  background-color: rgb(29, 131, 247);
  color: white;
  font-size: medium;
  cursor: pointer;
  border: none;
}
.tableData {
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}
