
.tostContainer{
   box-sizing: border-box;
}
.tostContainer nav{
    background-color: #fff ;
    border-bottom: 1px solid wheat;
    border-top: 1px solid white;
 }
.tostContainer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1pc;
    font-weight: 500;
    font-family: cursive;
    margin: 15px 5pc;
    color: rgb(5, 37, 56);
    
}
.tostContainer li{
    cursor: pointer;
    margin-right: 1pc;
    padding: 10px;
    list-style: none;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: rgb(240, 240, 240);
}